/* ===================== reset do css ====================== */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

/* ===================== HEADER ====================== */

.top-container {
    background-color: #14274e;
    padding: 100px;
}

h1 {  
    width: 20%;
    margin: 0 auto;
}

.clique-mouse {
    width: 26px;
    position: absolute;
}

.one-mouse {
    top: 25%;
    left: 69%;
}

.two-mouse {
    left: 20%;
    top: 79%;
}