/* ================================== tags ================================== */
body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Montserrat-black", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-family: "Montserrat-black", sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

.header-title {
    background-color: #051d35;
    color: #FFFFFF;
}

.container-fluid {
    padding: 1% 8%;
}

/* ================================== navbar ================================== */
.navbar{
    padding-bottom: 4.5rem;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-brand {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

/* ================================== title image ================================== */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    margin-left: 76px;
}

/* ================================== buttons ================================== */

.button-apple {
    margin-right: 10%;
}

/* ================================== itens  ================================== */

.features {
    padding: 7% 15%;
}

.features-item {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* ==================================== testimonials =========================== */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #FFFFFF;
}

.testimonials-image {
    width: 15%;
    margin: 20px;
    border-radius: 50%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* ====================== pricing =========================== */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}